body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.pasta{
  display: grid;
  margin:0 400px;
  grid-column-gap: 50px;
  grid-template-columns: auto;
  background-color: #2195f33d;
  padding: 10px;

}
.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}